body {
  margin: 10px 100px;
}

.table-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 2px;
}

.add-sign {
  padding: 4px;
  color: blue;
  margin-left: 5.5px;
  cursor: pointer;
}

.check-box-and-search {
  display: flex;
}

.search-section {
  display: flex;
}

#search {
  border: none;
}

.search-icon {
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  padding: 6px;
}

.paginator-wrapper {
  height: 40px;
}

.label-value-view {
  margin-left: 22px;
}

.label-value-view h3 {
  font-weight: bold;
}

.error-btn-wrapper {
  text-align: center;
}

.note:before {
  content: '* ';
  color: red;
}

.note {
  margin: 30px 0 40px 0;
}

.create-form-buttons {
  float: right;
  margin-top: 25px;
}

.edit-form-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.modal-form-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
